{% extends 'base.html' %}
{% block content %}

<h3>Login:</h3>
<form action ="/check-login" method="POST">
  <label>Email: <input type="text" name="email"></label>
  <br><br>
  <label>Password: <input type="password" name="password"></label>
  <br><br>
  <input type="submit" value="Submit">
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}