<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>

<h3>Login:</h3>
<form action ="/check-login" method="POST">
  <label>Email: <input type="text" name="email"></label>
  <br><br>
  <label>Password: <input type="password" name="password"></label>
  <br><br>
  <input type="submit" value="Submit">
</form>
<p>Don't have an account yet? <a href="/sign-up-form">Create an Account</a>.</p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>